body {
  font-family: Roboto, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f7cd75;
}

.main {
  display: flex;
  margin: 80px auto;
  width: 900px;
  height: 480px;;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 20px 5px rgba(0, 0, 0, .2);
}

.wallets {
  background-color: #f2f2f2;
  width: 30%;
  padding: 40px;
  overflow: auto;
  border-radius: 5px 0 0 5px;
}

.balance {
  width: 70%;
  padding: 40px;
  overflow: auto;
  border-radius: 0 5px 5px 0;
}

.wallets__header,
.balance__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

.wallets__title,
.balance__title {
  font-size: 24px;
  color: #333333;
  margin: 0;
  font-weight: 400;
}

.wallets__list {
  margin-bottom: 40px;
}

.credit-card {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  background: #fff;
  border-radius: 5px;
  border: 1px solid #dedede;
  color: #727272;
  padding: 10px;
  transition: box-shadow .2s;
}

.credit-card + .credit-card {
  margin-top: 30px;
}

.credit-card--selected,
.credit-card:hover {
  box-shadow: 0 0 1px 2px rgba(135, 147, 198, 1);
}

.credit-card__banner {
  width: 60px;
  margin-bottom: 10px;
}

.credit-card__number {
  font-weight: 500;
  line-height: 2;
}

.credit-card__expiration {
  font-size: 12px;
  font-weight: 500;
}

.balance__value {
  font-size: 24px;
  font-weight: 700;
}

.balance__cents {
  font-size: 16px;
}

.separator {
  border-bottom: 0;
  border-color: #dedede;
  opacity: .4;
}

.activity {
  display: inline-flex;
  align-items: center;
  width: 100%;
  margin-top: 40px;
}

.activity__list {
  margin-bottom: 40px;
}

.activity__type {
  border: 1px solid #e2e2e2;
  border-radius: 50%;
  min-width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 35px;
}

.activity__icon {
  width: 15px;
}

.activity__description {
  display: flex;
  flex-direction: column;
  margin-right: auto;
}

.activity__title {
  color: #333333;
  font-size: 20px;
  font-weight: 700;
}

.activity__info {
  font-size: 14px;
  color: #b4b4b4;
  font-weight: 500;
  line-height: 2.2;
}

.activity__value--debit,
.activity__value--credit {
  font-size: 18px;
  font-weight: 700;
}
.activity__value--debit {
  color: #8797c6;
}
.activity__value--credit {
  color: #8ace5e;
}

.activity__value-cents {
  font-size: 12px;
}